@import "~bootstrap/dist/css/bootstrap.min.css";
.row-cols-2{
    flex:0 0 auto;
    width: 100%;
    height: 100%;
}
.fullButton{
    height: 150px;
    max-height: 250px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.521);
}

#logo{
    background-image: url("../../public/img/icons/tamales.png");
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 64px;
    height: 64px;
}

#logo-pos{
    padding-right: 80%;
}

.tabs-pages{
    padding: 0px;
    margin: 0px;
    background-color: rgb(229, 231, 235)!important;
    
    height: auto;
}

#__next{
    width: 100%;
    background-image: url("../../public/img/background.jpg");
    background-position-y: -250px; 
    background-repeat: no-repeat;
    background-size: 100%;
    
    
    height: fit-content;
}

#mainContainer{
    max-width: 100%;
    padding: 0px;
    backdrop-filter: blur(4px);
}

body{
    background-color: rgb(229, 231, 235)!important;
}

#mainRow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
}

#backgroundNav{
    max-width: 100%;
    width: 100%;
    padding: 0px;
    margin-bottom: 50px;
    background-color: transparent;
    border: 0px!important;
}

.nav-pills{
    margin-bottom: 0px;
}

.botonUno{
    background-image: url("../../public/img/icons/sell.png")!important;
    background-position: center!important;
    background-size: 50%!important;
    height: 100px!important;
    width: 200px!important;
    background-color: rgba(128, 128, 128, 0.322)!important;
    background-repeat: no-repeat!important;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    
}
.one{
    visibility: visible;
}

#firstFrame{
    max-width: 100%;
    width: 85%!important;
    margin: 0px;
    padding: 0px;
    height: 600px;
    margin: auto;
    padding: 10px;

}

.botonUno:hover{
    background-color: rgba(128, 128, 128, 0.603)!important;
    backdrop-filter: blur(4px);
}
.botonTres:hover{
    background-color: rgba(128, 128, 128, 0.603)!important;
    backdrop-filter: blur(4px);
} 

.botonDos:hover{
    background-color: rgba(128, 128, 128, 0.603)!important;
    backdrop-filter: blur(4px);
} 

.botonCuatro:hover{
    background-color: rgba(128, 128, 128, 0.603)!important;
    backdrop-filter: blur(4px);
}


.botonDos{
    background-image: url("../../public/img/icons/inventory.png")!important;
    background-position: center!important;
    background-size: 50%!important;
    height: 95px!important;
    width: 200px!important;
    background-color: rgba(128, 128, 128, 0.322)!important;
    background-repeat: no-repeat!important;
    margin-left: 50px;
    margin-top: 30px;

    margin-bottom: 20px!important;
}

.botonTres{
    background-image: url("../../public/img/icons/food.png") !important;
    background-position: center!important;
    background-size: 50%!important;
    height: 90px!important;
    width: 200px!important;
    background-color: rgba(128, 128, 128, 0.322)!important;
    background-repeat: no-repeat!important;
    margin-left: 50px;
    margin-top: 20px;

    margin-bottom: 20px;
}

.botonCuatro{
    background-image: url("../../public/img/icons/supplier.png")!important;
    background-position: center!important;
    background-size: 50%!important;
    height: 95px!important;
    width: 200px!important;
    background-color: rgba(128, 128, 128, 0.322)!important;
    margin-left: 50px;
    background-repeat: no-repeat!important;
    margin-top: 30px;
    
    margin-bottom: 20px!important;
    
}

  .nav-tabs{
    border: 0px !important;

  }

  .nav-pills .nav-link.active{
    background-color: rgba(128, 128, 128, 0.603)!important;
  }

  .fade{
    transition: none!important;
  }

  .five h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700; color:#202020;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px;
  }
  .five h1 span {
    margin-top: 40px;
    text-transform: none;
    font-size:.75em;
    font-weight: normal;
    font-style: italic; font-family: "Playfair Display","Bookman",serif;
    color:#999; letter-spacing:-0.005em; word-spacing:1px;
    letter-spacing:none;
  }
  .five h1:before {
    position: absolute;
    left: 0;
    bottom: 38px;
    width: 60px;
    height: 4px;
    content: "";
    left: 50%;
    margin-left: -30px;
    background-color: #dfdfdf;
  }


  .seven h1 {
    text-align: center;
        font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
        text-transform: uppercase;

        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
    }
    
    .seven h1:after,.seven h1:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #c50000;
        border-top: 1px solid #c50000;
        height: 5px;
      background-color:#f8f8f8;
    }
    
a {
    text-decoration: none;
    color: black;      
    font-family: "Monaco"
}

#layoutTxt{
    font-size: 16px;
}